﻿html, body {
  width: 100%;
  height: 100%;
  user-select: none; /* disable user text selection, everywhere */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* we need to always truncate, rather than drawing over other elements */
  -webkit-touch-callout: none !important; /* prevent the default iOS default callout shown when you touch and hold a touch target. */
  -webkit-user-select: none !important; /* prevent the default iOS default callout shown when you touch and hold an anchor link. */
}

#app, .main, .surface, .master {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  min-width: 0; /* default is auto, which causes layout problems */
  min-height: 0;
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.block {
  position: relative;
  display: grid;
  align-content: center; /* ensure the block is vertically centered by default */
  padding: 0;
  margin: 0;
}

.label {
  position: relative;
  display: grid;
  align-content: center; /* ensure the label is vertically centered by default */
  padding: 0;
  margin: 0;
}

.caption {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden; /* prevent the label from escaping the parent container */
  text-overflow: ellipsis;
}

.canvas {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding: 0;
  margin: 0;
}

.framing {
  position: relative;
  pointer-events: none;
  padding: 0;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

.painting {
  position: relative;
  pointer-events: all;
  padding: 0;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

.graphic {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
}

.image {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%; /* prevent the img from busting outside of the parent size */
  height: 100%;
}

.button {
  position: relative;
  pointer-events: all;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

  .button:disabled {
    opacity: 0.50; /* override default disabled style */
  }

  .button:focus {
    /* override default focus style and draw inside the button, so it isn't clipped - but this has a weird effect */
    /* outline: 1px dashed white; outline-offset: -1px; */
    outline: none;
  }

.table {
  position: relative;
  pointer-events: none;
  display: grid;
  margin: 0;
  padding: 0;
}

.tablecell {
  position: relative;
  pointer-events: none;
}

.board {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.boardpin {
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.layer {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1;
}

.edit {
  position: relative;
  pointer-events: auto;
  border-style: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

  .edit:focus {
    outline: none;
  }

.memo {
  position: relative;
  pointer-events: auto;
  border-style: none;
  outline: none;
  resize: none;
  overflow: overlay;
  font-family: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
}

  .memo:focus {
    outline: none;
  }

.browser {
  position: relative;
  pointer-events: auto;
  overflow: overlay;
  margin: 0;
  padding: 0;
  border: 0;
}

.hstack {
  position: relative;
  pointer-events: none;
  display: grid;
  grid-auto-columns: max-content;
  grid-template-rows: minmax(0, 1fr);
  grid-auto-flow: column;
}

.hstackitem {
  position: relative;
  pointer-events: none;
  height: 100%;
}

.vstack {
  position: relative;
  pointer-events: none;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: max-content;
  grid-auto-flow: row;
}

.vstackitem {
  position: relative;
  pointer-events: none;
  width: 100%;
}

.hdock {
  position: relative;
  pointer-events: none;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-auto-flow: column;
}

.hdockitem {
  position: relative;
  pointer-events: none;
  height: 100%;
}

.vdock {
  position: relative;
  pointer-events: none;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-flow: row;
}

.vdockitem {
  position: relative;
  pointer-events: none;
  width: 100%;
}

.hwrap {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.hwrapitem {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.vwrap {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.vwrapitem {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.hscroll {
  position: relative;
  pointer-events: auto;
  overflow-x: overlay;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  padding: 0;
}

.hscrollitem {
  position: relative;
  pointer-events: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.vscroll {
  position: relative;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: overlay;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
}

.vscrollitem {
  position: relative;
  pointer-events: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flow {
  position: relative;
  pointer-events: auto;
  overflow-y: overlay;
  overflow-x: overlay;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  margin: 0;
  padding: 0;
}

.frame {
  position: relative;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.Stretch {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.StretchLeft {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.StretchRight {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.StretchCenter {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.TopLeft {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.TopRight {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.TopCenter {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.TopStretch {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.BottomLeft {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.BottomRight {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.BottomCenter {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.BottomStretch {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.CenterLeft {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.CenterRight {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.Center {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.CenterStretch {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.Collapsed {
  position: absolute;
  pointer-events: none;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

/* scrollbar styling, WIP */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

  ::-webkit-scrollbar-track:hover {
    background: rgb(0, 0, 0, 0.1);
  }

::-webkit-scrollbar-thumb {
  background: #777777;
  border: 2px solid rgb(0, 0, 0, 0.1);
}

  ::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
    border: 2px solid rgb(0, 0, 0, 0.1);
  }

/* Firefox? */
.vscroll {
  scrollbar-width: thin;
  scrollbar-color: #777777 rgb(0, 0, 0, 0.1);
}
